#about .back_photo_1{
    height: 500px;
    background-image: url("../img/about.jpg")
}

#about .main_box{
    position: relative; 
    top:60px;
}
#about .title{
    width:160px;
    overflow: hidden;
}
#about h1{
    width: 100%;
    font-size: 3.5rem; 
    margin-bottom: 30px;
  }

  #about h1::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 7px solid tomato;
  
  }


.about__container{
    color: rgb(66, 66, 66);
    padding: 60px 0;
    width: 80%; 
    margin: 0 auto;
}



#about .about__col{
    display: flex; 
    justify-content: space-around;}

#about .about__col img{width:40%; height: 100%; }

#about .intro img{width:30%; height: auto;}

#about h2 {
    font-size: 2rem;
    padding: 0 20px 10px}

#about h3{ 
    font-size: 1.5rem;
    padding: 40px 0 20px 20px}

#about p{
    width: 90%; 
    margin: 0 auto; 
    font-size:1.2rem ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about .intro__container, .business__container{
    width: 90%;
    margin: 0 auto;
}




@media screen and (max-width:1024px) { 
    #about .about__col img{display: none;}
}