#cart{
    padding:100px 0; 
    width:90%; 
    margin:  0 auto;
}

.basket__head{
    width: 90%;
    margin: 0 auto;
    display: flex;
    border-bottom: 5px solid tomato;
}
.basket__head li,.basket__data li {
    text-align: center;
    width: 25%;
    line-height: 50px;
}

.basket__data{  
    width: 90%;
    margin: 0 auto;
    }

.updown{
    display: flex;
    justify-content: center;
}
.updown input{text-align: center;}

.result{text-align: right;}

.basket__data li{
    width: 100%;
    display: flex;
    padding-top: 20px;
}
.emptytitle{ 
    position: relative;
    z-index: -3;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%; 
    text-align: center; 
    font-size: 2rem; 
    font-family:'Times New Roman', Times, serif
}
.basket__data .emptytitle span{position: relative;
    z-index: -3; text-align: center; font-size: 2rem; }
.basket__data li img{ width: 70%; }
.basket__data li div{ text-align: center; width:25%; margin:auto 0; line-height: 100%;}
.basket__data .imgBox img{ width: 70%; padding: auto ;}
.nameBox span{font-size: 1.2rem;}
.priceBox span{ font-size: 1.2rem;}  
.numBox .s__num{ display: inline-block; width:30%; font-size: 1.2rem; } 
.sumBox span{ font-size: 1.2rem;} 
.delBox span{ font-size: 2rem;} 