#product .back_photo_1{
    height: 350px;
    background-image: url("../img/croissants-1.jpg")
}

#product .main_box{
    position: relative; 
    top:60px;
}

.product__container{  margin: 0 auto; padding: 100px 0;}

.product__container ul{ padding:0 5%; display: flex;  flex-wrap: wrap;  justify-content: flex-start; margin: 0 auto;}
.product__container li{position: relative; width: 300px; padding: 5px 10px;  }
.product__container div{text-align: center; padding-top: 10px; font-weight: 500; font-size: 1.3rem; color:#2d3436}
.product__container span{display:inline-block; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:#636e72; text-align: center; width: 100%;}
.product__container img{
    width:100%;
}
.product__container .imgBox{overflow: hidden; position: relative; z-index: 5;}
.product__container .imgBox::before{
    position: absolute;
    z-index: 1;
    bottom:0;
    right: 0;
    width: 60px ;
    line-height: 60px ;
    content:"cart";
    color: white;
    text-align: center;
    margin: auto 0;
    background-color: tomato;
    border-top-left-radius: 30px 30px;
    transition: all 1s ease-in-out;
    transform: translate(70px,70px);
}
.product__container .imgBox:hover::before{
    transform:translate(0,0)
}

@media screen and (max-width:1024px) {
    .product__container ul{justify-content: center;}
}
