@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Zilla+Slab:ital,wght@0,400;0,600;1,500&display=swap");

@import "login.css";
@import "about.css";
@import "main.css";
@import "nav.css";
@import "product.css";
@import "cart.css";

*{
    margin: 0; 
    padding: 0; 
    border: none;
    font-family: 'Playfair Display', serif;
}
html{font-size: 16px;color:#353b48}

ul,li{list-style: none;}

a{
    display: block; 
    text-decoration: none;
    color: inherit;
}
button:focus {
    outline: 0;
}


