*{margin: 0; padding: 0; border: none;font-family: 'Playfair Display', serif;;}
ul,li{list-style: none;}
a{display: block; text-decoration: none;color: inherit;}

#loading{width:100vw; height:100vh;display: flex; justify-content: center; align-items: center;}
header{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
 
.logo{width:300px; height: 100px;}
.logo img{margin:25px 10px;}  

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
}

.navigator{
    display: flex;
    justify-content: space-around; 
   margin: 30px auto 0 auto;
  
}

.navigator a{
    width:150px;
    line-height: 55px;
    font-style: italic;
    text-align: center; 
    font-size: 1.563rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .person{
    font-size: 45px;
    margin-top: 30px;
    margin-right: 4%;
    color: white;
}

.back_photo_1{
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/main1.jpg");
}

.dark{
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark img{
    display: block; 
    margin: auto;
}

.main_box{
    width: 660px; 
    height: 200px;
} 
 
.shop_box,.food_box{
    width: 100%;
    height:584px;
    background:white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop.show, .food.show{
    opacity: 1;
    transform: translate(0px);
}

.shop .text_box p{width:70%; margin: 0 auto;}

.shop,.food{
    opacity: 0;
    transform: translateY(150px);
    transition: all 1.5s ease-in-out;
    background: white;
    width: 1360px;
    height:760px;  
    position: absolute;
    top:-88px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.shop .title {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 30px;
  font-weight:300 ;
  margin-bottom: 30px;
  color: rgb(53, 52, 52);
}

.shop_enter,.shop_inside{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.back_photo_2{
    color:white;
    font-family: 'Zilla Slab', serif;
    width: 100%;
    height:60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/main22.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.food{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rank{
    width:680px ;
    display: flex;
    justify-content: center;
}

.text_box{width: 100%;}

.text_box p{font-size: 18px;}

.back_photo_3{
    width: 100%;
    height:60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/main3.jpg");
}

.review_box, .location {
    width: 100%;
    background:white;
}

.title_box{
    padding: 130px 0 90px 0;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;}

.title_box h2{font-size:60px;}

.title_box h5{
    font-size:25px; 
    font-weight: 200; 
    margin: 5px auto;
    text-align: center;
    color: gray;
}

.rank .text_box {
    padding:10px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.rank h4{color:rgb(250, 124, 101);
    padding-bottom:30px;
    text-align:center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}

.rank dt{ 
    font-size:  1.25rem;
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(66, 66, 66);
}

.rank dd{
    font-family: 'Zilla Slab', serif; 
    font-size: 20px; 
    color: rgb(129, 126, 126); 
    text-align: right;
    padding-bottom: 30px;
}

.review_box h2{color: rgb(82, 80, 80);}

.review_card_box{
    margin: 0 auto;
    width: 90%;
    display: flex; 
    justify-content:space-around; 
    align-items: center;
}

.review_card{
    width:300px;
    height: 500px;
}

.review_card .rating{
    font-size: 20px; 
    text-align: left;
    color: rgb(53, 52, 52); }

.review_card h4{ 
    text-align: center; 
    font-size: 30px;
    margin: 20px 0;
    color: rgb(100, 98, 98);
}

.review_card p{
    text-align: center;
    color: rgb(100, 98, 98);
}

.new1{
    margin: 40px auto;
    width: 120px;
    background-color: tomato;
    border: 3px solid tomato;
}

.location{padding-bottom: 150px;} 

.location p{
    margin:0 auto;
    width:60%;
    position: relative;
    top:-35px;
    text-align: center;
    color: rgb(82, 80, 80);
}

.location_title{
    color: rgb(82, 80, 80);
 padding: 20px 0;
    line-height: 100px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {display: flex ; justify-content: center; align-items: center;}
iframe{
    margin: 0 auto;
    width: 80%;
    height: 500px;
   box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);;
}

footer{
    width: 100%;
     height: 250px; 
     display: flex; 
     justify-content: center;
      text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
}

footer>div{
    width:50%;
     color:lightgray;
     display: flex; 
     justify-content: center; 
     align-items: center;
}

.timetable{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.timetable>div{
    width:50%; 
    margin-bottom: 20px;
}

.contact_box h2,.open_hours_box h2{margin-bottom: 15px;}

.sns{
    display: flex; 
    width:30%;
    margin:0 auto; 
    justify-content: space-around;
    align-items: center;}

.sns svg{font-size:30px;margin:20px 20px;}
.form {
    display:none;
    position: absolute;
    top:10%;
    right:1%;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  .form button {
    text-transform: uppercase;
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 1rem;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: tomato;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 1rem;
  }
  .form .message a {
    color: #EF3B3A;
    text-decoration: none;
  }
@media screen and (max-width:1440px) { 
    .navigator{ margin-top: 10px;}
    nav .person{margin-top: 18px;font-size: 30px;}
    .logo{width:200px; height: 100px;}
    .logo img{width:150px; height: auto;}

    .shop_box,.food_box{height: 484px;background-color: white;}
    .shop,.food{width: 1060px; height:110%; top:-60px;}
    .shop_enter p{width:360px; height: 100%;}
    .shop_enter img{width:700px;}
    .shop_inside img{width:360px; height: auto;}
    
    .food li,.food .text_box{width:530px; background-color: white;}
    .food img{width:265px ;height: auto;}

    .review_box .title_box h2{font-size:40px;}
    .review_box .title_box{padding:100px 0 50px 0;}
    .review_card{width:200px; height: auto;}
    .review_card .rating{font-size: 16px; text-align: left; }
    .review_card h4{ text-align: center; font-size: 20px;margin: 20px 0;}
    .review_card p{text-align: center;}

    iframe{ width: 70%; height: 350px;}
}

@media screen and (max-width:1025px) { 
    .navigator a{ line-height: 30px;}
    nav .person{ margin-top:25px; font-size: 20px;}

    .shop_box,.food_box{height: 350px;}
    .shop,.food{width:816px; height: 460px;    top:-50px;}
    .shop_enter p{width:250px; height: 100%;}
    .shop_enter img{width:566px;}
    .shop_inside img{width:250px; height: auto;}
    
    .food li,.food .text_box{width:50%; }
    .food img{width:204px ;height: auto;}
    .review_card_box{flex-wrap: wrap;}
    .review_box,.location{height:70%}
    .review_box .title_box h2{font-size:2.1rem;}
    .review_box .title_box{padding:100px 0 50px 0;}

    .open_hours_box h2{margin:5px 0;}
    .timetable>div{width:50%; margin-bottom: 15px; font-size: .95rem;}
 }

 @media screen and (max-width:768px) { 
    .dark img:nth-child(1){width:400px;}
    .dark img:nth-child(2){width:250px;}
  
    .navigator{   margin-top: 20px;  }
    .navigator a{  font-size:1.125rem;  width: 95px;}
    .main_box{position: relative; top:60px;}

    .shop_box,.food_box{height: 250px; }
    .shop,.food{width:602px; height:110%; top:-50px;}
    .shop_enter p{width:100%x; height: auto;}
    .shop_enter img{width:60%;height: auto;}
    .shop_enter .text_box {width:30%; margin: 0 auto;}
    .shop_inside img{width:40%; height: auto;}
    .shop .text_box .title{font-size: 25px; margin-bottom: 10px; text-align: center;}
    
    .text_box p {font-size: 12px;}
   
    .food{  top:-25% }
    
    .food img{width:150px }
    .rank h4{padding:15px 0;    font-size: 1.875rem;}
    .rank dt{font-size: 0.875rem}
   
  
    .review_card{width:40%; height: auto; flex-wrap:wrap ;}
    .review_card .rating{font-size: 12px; text-align: left; }
    .review_card h4{ text-align: center; font-size: 20px;margin: 20px 0;}
    .review_card p{text-align: center;}
    .review_card .title_box h5{ font-size:18px;}
    
    .location_title{font-size:26px;}
   
    footer>div{font-size: 0.9rem;}
    .open_hours_box h2{font-size: .9rem;}
    .contact h2{font-size: .9rem;}
    .timetable>div{ font-size: .8rem;}

    .form {max-width: 200px; }
  

}


@media screen and (max-width:425px) { 
    .logo img{ width: 80px ;height:auto;}
    .dark img:nth-child(1){width:250px;}
    .dark img:nth-child(2){width: 200px; }
    nav .person{ font-size: 17px;  margin-top: 15px;   margin-left: auto}
 
    .navigator{ 
        z-index: 999;
        position: fixed; 
        bottom: 0; 
        right: 0; 
        left: 0; 
        background-color: tomato; }
    .navigator a{margin:5px 0; font-size:15px ; width:80px; line-height: 30px;}
    .main_box { top:70px}
   
    .shop,.food{width:250px;   top:-40px;}
    .shop_enter,.shop_inside{display: block;}
   
    .shop_enter img{width:100%; height: auto;}
    .shop_inside img{display: none;}
    .shop_enter .text_box {width:100%; }
    .shop .text_box .title{font-size: 20px;padding:10px 0; margin-bottom: 0;}
 
    .text_box p {font-size: 12px; padding-bottom: 15px;}
    
    .food img{display: none;}
    .food li,.food .text_box{width:50%; background-color: white;}
    .food img{width:150px ;height:auto;}

    .rank .text_box{width: 100%;}
    .rank h4{padding:10px 0;}
   
    .rank dt{  font-size: 14px;}
    .rank dd{ font-size: 12px; }

    .contact_box h2{margin:5px 0}
    .review_box h2{font-size:22px ; text-align: center;}
    .review_card:nth-child(3),
    .review_card:nth-child(4){display: none;}
    .review_card h4{ text-align: center; font-size: 16px;margin: 20px 0;}
    
    .location_title{font-size: 20px;}
    .location p{font-size: 12px;}
    
    footer{height: 280px; display: block; margin-bottom: 40px ;}
    footer>div{width:100%}
    .timetable{display: block;}
    
    .timetable>div{
        display: flex;
        width: 80%;
        margin: 5px auto;
        justify-content: space-around;
        font-size: .74rem;}

        .form {
            max-width: 100%;
           right:0
          }
      
} 

